pylint==2.6.0
yapf==0.30.0
pytest==6.0.1
pytest-cov==2.10.1
mypy==0.782
dash==1.16.0
dash-cytoscape==0.2.0
sphinx==3.2.1
protobuf==3.13.0
isort==5.5.2
pylint-protobuf==0.13
mypy-protobuf==1.23
grpcio-tools==1.32.0
Flask-Caching==1.9.0
dash-bootstrap-components==0.10.6
